
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color:lightgray;
}

.main-container{
    margin: 10px 70px;
}

nav{
    width: 100%;
    height: 40%;
}

nav ul{
    background-color: royalblue;
}

nav ul li {
    padding: 20px;
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.first-section{
    padding: 10px;
    margin: 30px 0;
    height: 200px;
    width: 60%;
    background-color: white;
}

.second-section{
    padding: 10px;
    margin: 30px 0;
    height: 200px;
    width: 60%;
    background-color: white;
}

aside{
    position: absolute;
    background:salmon;
    padding: 10px;
    width: 31%;
    bottom: 305px;
    left: 62%;
}

footer{
    padding: 20px;
    color: white;
    text-align: center;
    background-color: slategrey;
    height: 30px;
}