body{

    background-color: floralwhite;
}

.Titulo{
    color: white;
    width: 220px;
    margin: 0px auto;
}

.contenedor{
    padding: 200px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.parrafo{
    color: black;
    font-size: large;
    text-align: center;
}

header{
    width: 100%;
    height: 600px;
    background: cornflowerblue;
}
