*{
    margin: 0;
    padding: 0;
}

.main-container{
    padding: 0 120px;
}

.titule{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 100px 100px 0px;
}



.first-section{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 30px 100px;
    
}

.image{
    padding: 40px 0;
}

.first-image{
    float: right;
    width: 300px;
    height: 300px;
    margin-right: 5%;
}

.second-section{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 250px 100px;
}

.second-image{
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 5%;
}

.link{
    font-size: 28px;
    padding: 50px 100px;
}

.table {
    font-size: 18px;
    padding: 0 100px;
    height: 500px;
}
table{
    width: 100%;
    
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

table th{
    color: white;
    background-color: black;
    text-align:left;
}

table tr#white{
    color: white;
}
