
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: gray;
}


.main-container{
    height: 100%;
    width: 100%;
}

/*Css del header*/

header{

    background-color: white;
    height: 780px;
}


header > .container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text>h4{
    color: #222;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 200px 0;
    margin-left: 100px;
}



.image-phone{
    margin-top: 150px;
    margin-right: -10px;
    width: 300px;
    height: 700px;
}

.image-phone-2{
    margin-top: 150px;
    margin-right: -222px;
    float: left;
    width: 300px;
    height: 700px;
}

button{
    text-transform: uppercase;
    padding: 10px;
    margin-left: 120px;
    margin-bottom: 50px;
    color: white;
    background-color: #33C3F0;
    border-radius: 93px 93px 95px 93px;
    -moz-border-radius: 93px 93px 95px 93px;
    -webkit-border-radius: 93px 93px 95px 93px;
    border: 0px solid #000000;

}




/*Css de la primera seccion*/

.first-section{
    background-size: cover;
    background-image: url("../images/values-bg.jpg");

}

.first-section > .container{
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.one-third{
    width: 300px;
    padding: 0 100px;
    text-align: center;
}

.value{
    padding: 10px;
    font-size: 3.6rem;
    color: #11DFC7;
}

.titule{
    font-size: 1.3rem;
    font-weight: 300;
}

.description{
    padding: 10px;
    opacity: .8;
    font-weight: 300;
    line-height: 1.6;
}

/*Css segunda seccion*/

.second-section{   
    background-color: white;
}

.second-section > .container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.second-section > .container > .row{
    width: 600px;
}

.second-section > .container > .row > button{
    margin-right: 100px;
}

.row > h3{
    font-size: 2.4rem;
}

/*Css tercera seccion*/

.third-section{
    background-size: cover;
    background-image: url("../images/values-bg.jpg");
}

.third-section > .container{
    color: white;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.a-image{
    padding: 20px 20px;
    width: 500px;
}


.row > .images{
    display: flex;
    justify-content: space-between;
}


.row > .text > h3{
    font-size: 2.4rem;;
}

.row > .text  {
    width: 650px;
    margin-left: 200px;
}

