:root{
  --letter: #000000;
  --fund:#ffff;  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  width: 100%;
  height: 100%;


  background-color:var(fund);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45% 30% 15% 10%;
  grid-template-areas:
  "header header"
  "main first-section"
  "article article"
  "footer footer";
}
a:hover{
  text-decoration: underline;
}
p::first-line{
  font-style: italic;
}

h2{
  padding: 20px;
}

/*Header*/
header{
  color: var(--letter);
  background-color: var(--fund);
  grid-area: header;
  height: 40%;
  text-align: center;
}

.navegation{
  height: 100px;
}
nav{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center
}

nav > a{
  text-decoration: none;
  text-transform: uppercase;
}

.img{
  height: 70vh;
  background-image: url("../IMG/fondo.jpg");
  background-size: cover;
}


/*Main*/
main{
  color: var(--letter);
  background-color: var(--fund);
  grid-area: main;
  height: 100%;

  text-align: center;
}


/*First-section*/
.first-section{
  color: var(--letter);
  background-color: var(--fund);
  grid-area: first-section;
  height: 100%;

  text-align: center;
}

article{
  background-color: darkslategray;
  grid-area: article;
  text-align: center;
}


/*Footer*/
footer{
  color: var(--letter);
  background-color: rgb(56, 51, 51);
  grid-area: footer;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > #contacts{
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#contacts > a{
  text-transform: uppercase;
  text-decoration: none;
}



