*{
    padding: 0;
    margin: 0;
}

body{
    background-color: limegreen;
    font-family: Arial;
    font-size: 18px;
}

#menu{
    padding: 50px 0;
}

#menu ul{
    padding: 0;
    margin: 0;
}

#menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

#menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#menu ul #logo{
    margin-right: 40%;
    margin-left: 10px;
}

/* main-container*/



#main-container header main div{
    padding: 80px;
    display: inline-block;
    vertical-align: middle;
}

#main-container header main .text h1{
    color: white;
    font-size: 60px;

}

#main-container header main .text p{
    padding: 20px 0;
    color: white;
    font-size: 30px;
}

button{
    background-color: lightseagreen;
    border: 0;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    padding: 20px 25px;
}
