*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: #ecf0f1;
}

p{
    color: #524c56;
    font-size: 160%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}

h3{
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    color: #524c56;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

a{
    color: #524c56;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #c3d7df;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

#wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

#banner-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 3% 0;
}

header{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header #logo img{
    margin: 20px;
    float: left;
    width: 50px;
}



#menu-icon{
    display: none;
    font-size: 50px;
}

ul{
    list-style: none;

}

nav ul li{
    font-size: 150%;
    display: inline-block;
    padding: 30px;

}

nav ul li a{
    color: #6991ac;
}

.current{
    color: #3f5767;
}

.one-third{
    width: 31.5%;
    float: left;
    padding: 10px;
    text-align: center;
}

.icon-wrap{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-color: cornflowerblue;
    border-radius: 125px;
    text-align: center;
    margin-top: 3%;
}

.icon-wrap i{
    text-align: center;
    color: cornsilk;
    font-size: 450%;
    padding: 20%;
}

.one-third-padding{
    width: 29%;
    float: left;
    margin: 2%;
}

.clearfix-padding{
    clear: both;
    padding: 2%;
}

footer{
    background: darkslategrey;
    width: 100%;
    overflow: auto;
}

.icon-text{
    width: 100%;
    margin: 0 auto;
}

.icon-text-icon{
    float: left;
    width: 20%;
    padding: 4%;
}

.icon-text-text{
    float: left;
    width: 60%;
    padding: 4% 4% 2% 0;
}

.footer-nav{
    text-align: right;
}

.footer-nav a{
    font-size: 160%;
    color: white;
    font-weight: 300;
}

.social{
    text-align: center;
}

.social li{
    display: inline;
}

.social i {
    font-size: 420%;
    margin: 1%;
    padding: 5%;
    color: white;
}