.main-container {
    width: 80%;
    height: 96vh;
    margin: 0 auto;
    margin-top: 4px;
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 60% 10%;
    grid-template-areas: "header" "main" "first-section" "footer";
}


/*here start the main*/

main {
    grid-area: main;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main>p {
    padding: 10px;
}


/*here start the first section*/

.first-section {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    grid-area: first-section;
    display: flex;
    justify-content: space-around;
}

.one-third {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
}

.container>i {
    color: gray;
    font-size: 80px;
}

.description {
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.description>a {
    padding: 0;
    text-align: left;
}