.main-container {
    width: 80%;
    height: 96vh;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header" "main" "footer";
}

main {
    background-color: indigo;
    grid-area: main;
}

.introduction {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction>p {
    margin-left: 50px;
}

form {
    background-color: #ffff;
    height: 55%;
}

.container {
    width: 50%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 30%;
    padding: 5px;
}

.description {
    width: 100%;
    height: 60px;
    padding: 5px;
}

.image {
    width: 100%;
    padding: 5px;
}

.search {
    width: 100%;
    height: 60px;
    padding: 5px;
}

.first-section {
    background-color: lightcoral;
    width: 100%;
    height: 22%;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 10px 10px;
}

.button {
    color: #ffff;
    font-family: var(--letter);
    border: none;
    width: 100%;
    font-size: 11x;
    background-color: cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 50px;
}

#ingresar {
    background-color: rgb(96, 96, 96);
}

#cancelar {
    background-color: rgb(197, 196, 196);
}