.main-container {
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    width: 97%;
    height: 93vh;
    margin-top: 30px;
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 26% 10% 40% 12%;
    grid-template-areas: "header" "main" "first-section" "second-section" "footer";
}


/*here start the main*/

main {
    background-color: #ffff;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    height: 40%;
    width: 20%;
    text-align: center;
}

.description>p {
    padding: 15px;
}


/*here start the first-section*/

.first-section {
    background-color: #ffff;
    grid-area: first-section;
}

.first-section>.new {
    margin-left: 70px;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new>a {
    color: white;
    padding: 15px 30px;
    background-color: rgb(96, 96, 96);
    text-align: center;
}


/*here start the second section*/

.second-section {
    background-color: #ffff;
    grid-area: second-section;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.one-third {
    text-align: right;
    width: 20%;
    height: 80%;
}

.icon {
    width: 100%;
}

.icon>i {
    color: gray;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 150px;
}

.options {
    padding: 0 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.name {
    color: #c95555;
    padding: 20px 5px 4px;
    text-transform: uppercase;
    text-decoration: underline;
}

.edit {
    text-align: center;
    padding: 10px;
    width: 50%;
    color: #fff;
    background-color: rgb(98, 156, 68);
}

.delete {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    width: 50%;
    color: #fff;
    background-color: rgb(255, 93, 85);
}