.main-container {
    width: 85%;
    height: 96vh;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-row-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 28% 34% 28% 10%;
    grid-template-areas: "header" "main" "first-section" "footer";
}


/*Inicio header*/

header {
    background-color: rgb(238, 238, 238);
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.logo {
    padding: 10px 20px;
    width: 100px;
    margin-left: 100px;
}

.logo>i {
    text-align: center;
    color: gray;
    font-size: 30px;
}

.navegation {
    margin-left: 20%;
    width: 50%;
    height: 100%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav>a #shopping-cart {
    padding: 10px;
    color: white;
    background-color: rgb(96, 96, 96);
}

.busqueda {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-left: 50px;
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 93%;
    background-color: rgb(238, 238, 238);
    font-size: 11px;
    padding: 10px;
    border: none;
}

.input-container {
    margin-top: 12px;
    width: 54%;
    background-color: rgb(238, 238, 238);
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

#icon {
    color: gray;
    margin-left: 1px;
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(238, 238, 238);
}

.buttons {
    padding: 5px 10px;
}

#button {
    background-color: rgb(96, 96, 96);
    color: #ffff;
    font-family: var(--letter);
    border: none;
    width: 100%;
    font-size: 11x;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 50px;
}


/*Inicio del main*/

main {
    border-top: 1px solid rgb(197, 196, 196);
    background-color: #fff;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 25%;
    text-align: center;
}

.categories {
    height: 78%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.one-third {
    text-align: center;
    width: 20%;
    height: 80%;
}

.one-third>i {
    color: gray;
    height: 85%;
    width: 80%;
    font-size: 120px;
}


/*Inicio del first section*/

.first-section {
    background-color: #fff;
    grid-area: first-section;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "presentation presentation presentation presentation" "left one-two two-two right";
}

.presentation {
    text-align: center;
    grid-area: presentation;
}

.one-two {
    text-align: center;
    color: gray;
    font-size: 100px;
    grid-area: one-two;
    display: flex;
    flex-direction: column;
}

.one-two>a {
    padding: 0;
}

.container-1 {
    height: 75%;
    border: 1px solid;
    margin-bottom: 5px;
}

.two-two {
    text-align: center;
    color: gray;
    font-size: 100px;
    grid-area: two-two;
    display: flex;
    flex-direction: column;
}

.two-two>a {
    padding: 0;
}

.left {
    color: rgb(96, 96, 96);
    font-size: 40px;
    text-align: right;
    margin-top: 40px;
    grid-area: left;
}

.right {
    color: rgb(96, 96, 96);
    font-size: 40px;
    text-align: left;
    margin-top: 40px;
    grid-area: right;
}