.main-container {
    height: 100vh;
    width: 98%;
    margin: 0 auto;
    border: gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas: "header" "main" "footer";
}

.line {
    font-weight: 900;
    color: gray;
    padding: 15px 0 10px;
}

.link {
    font-size: 11px;
    color: #c95555;
    text-decoration: underline;
}


/*Here start the main part*/

main {
    padding: 2px 0;
    grid-area: main;
}

.titule {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    background-color: rgb(238, 238, 238);
    height: 30%;
}

form {
    height: 70%;
}


/*Start first section*/

.first-section {
    width: 100%;
    height: 60%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    padding: 2px 0 0;
}

input[type="text"],
[type="password"] {
    font-size: 12px;
    width: 25%;
    padding: 10px;
    border: 1px solid #aaa;
}

.input-container {
    font-family: var(--letter);
    width: 100%;
    height: 30%;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Start second section*/

.second-section {
    width: 100%;
    height: 40%;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 10px 10px;
}

.button {
    color: #ffff;
    font-family: var(--letter);
    border: none;
    width: 100%;
    font-size: 11x;
    background-color: cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 50px;
}

#ingresar {
    background-color: rgb(96, 96, 96);
}

#cancelar {
    background-color: rgb(197, 196, 196);
}