:root {
    --letter: 'Open Sans', sans-serif;
    --color: #606060;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--letter);
    background-color: rgb(238, 238, 238);
    color: var(--color);
    width: 100%;
    height: 100%;
    font-size: 12px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

h2 {
    font-family: var(--letter);
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-family: var(--letter);
    font-size: 16px;
    font-weight: bold;
}

a {
    font-size: 11px;
    text-decoration: none;
    color: var(--color);
    padding: 20px;
}

p {
    font-size: 10px;
}


/*This is the header*/

header {
    background-color: white;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

header>.logo {
    padding: 20px 20px;
    width: 100px;
    margin-left: 100px;
}

.logo>i {
    text-align: center;
    color: gray;
    font-size: 30px;
}

.navegation {
    margin-left: 20%;
    width: 50%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav>a #shopping-cart {
    padding: 10px;
    color: white;
    background-color: rgb(96, 96, 96);
}


/*This is the footer*/

footer {
    font-size: 19px;
    padding: 2px 0;
    background-color: #ffff;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contacts>a {
    padding: 20px 20px;
    text-decoration: none;
}

.page {
    padding: 10px;
}

.page>i {
    color: var(--color);
    text-decoration: none;
}