.link {
    font-size: 11px;
    color: #c95555;
    text-decoration: underline;
}

.main-container {
    width: 97%;
    height: 98vh;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header header" "product main" "footer footer";
}


/*Here start the prodcut*/

.producto {
    background-color: rgb(247, 247, 247);
    color: rgb(96, 96, 96);
    grid-area: product;
    font-size: 500px;
    display: flex;
    justify-content: center;
}


/*Here start the main*/

main {
    background-color: #fff;
    grid-area: main;
}

.name {
    margin: 0 auto;
    width: 80%;
    height: 20%;
}

.name>h2 {
    padding: 20px 0 0;
}

.name>p {
    padding: 20px 0 0;
}

.details {
    margin: 0 auto;
    width: 80%;
    height: 60%;
}

.description>p,
h3 {
    padding: 20px 0 0;
}

.search h3,
p {
    padding: 20px 0 0;
}

.agregar {
    width: 80%;
    margin: 0 auto;
    height: 20%;
    display: flex;
    align-items: center;
}

#button {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    height: 40px;
    width: 140px;
    background-color: rgb(96, 96, 96);
}