.main-container {
    background-color: #fff;
    width: 85%;
    height: 96vh;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header" "main" "footer";
}

.link {
    font-size: 11px;
    color: #c95555;
    text-decoration: underline;
}


/*Inicio del main*/

main {
    grid-area: main;
}

.titule {
    background-color: rgb(250, 250, 250);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(197, 196, 196);
}

.titule>h1 {
    margin-top: 20px;
    padding: 20px 0 5px;
}


/*Inicio del form*/

form {
    margin-top: 30px;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 15px;
}

.input-45 {
    height: 30px;
    width: 48%;
}

.input-100 {
    height: 30px;
    width: 100%;
}

#country {
    height: 35px;
}


/*Inicio del first-section*/

.first-section {
    margin: 0 auto;
    height: 20%;
    width: 50%;
}

.first-section>p {
    padding: 2px;
}

.buttones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 15px 10px;
}

.button {
    color: #ffff;
    font-family: var(--letter);
    border: none;
    width: 100%;
    font-size: 11x;
    background-color: cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 50px;
}

#registrar {
    background-color: rgb(96, 96, 96);
}

#cancelar {
    background-color: rgb(197, 196, 196);
}

footer {
    border-top: 1px solid rgb(197, 196, 196);
}